/* Reset de estilos para remover margens/padding padrão */
body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Adicionando a fonte Roboto ao corpo do texto */
}

/* Estilizando o cabeçalho */
.header {
    position: relative;
    height: 300px; /* Altura do cabeçalho */
    overflow: hidden; /* Esconde qualquer conteúdo extra */
}

/* Estilizando o fundo do cabeçalho */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(40%); /* Ajuste o brilho conforme necessário */
}

/* Estilizando o conteúdo no cabeçalho */
.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

/* Estilo para a foto */
.profile-pic {
    width: 130px; /* Largura da imagem */
    height: auto; /* Altura automática mantendo proporção */
    border-radius: 40%; /* Forma circular */
    margin-bottom: 20px; /* Espaçamento abaixo da imagem */
}

/* Estilo para o título */
h1 {
    font-size: 36px;
    margin: 0;
    text-align: center; /* Alinha o título ao centro */
}

/* Estilizando os links como caixas e centralizando */
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    padding: 0;
}

.navbar ul li {
    margin: 10px; /* Espaçamento entre os links */
}

.navbar ul li a {
    color: #333; /* Cor do texto dos links */
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #333; /* Cor da borda */
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold; /* Deixa o texto em negrito */
}

.navbar ul li a:hover {
    background-color: #333; /* Cor do fundo ao passar o mouse */
    color: #fff; /* Cor do texto ao passar o mouse */
}

/* Estilos para a seção Sobre Mim */
.sobre-content {
    padding: 20px;
    background-color: #fff; /* Defina a cor de fundo para branco */
    border-radius: 10px;
    color: #333;
    font-weight: bold;
    position: relative;
    z-index: 1;
    margin-top: 20px; /* Adicione um espaçamento no topo para evitar sobreposição */
}

.sobre-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sobre-content p {
    margin-bottom: 10px;
}
